NODE_ENV=development
PORT=3001

# Database URL - PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/customers_db?schema=public"

# Optional: SQLite for learning/testing
# DATABASE_URL="file:./prisma/dev.db"
